@import '../../constants';

.dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 20px;
  border: 2px dashed $blue-primary;
  border-radius: 12px;


};

.dropzone {
  cursor: pointer;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
};