@import '../../constants';


.epg-item{ 
    img {
        width: 100%;
        height: auto;
    }
    
    padding: 8px;
    height: 280px;
    overflow: scroll;

    .epg-item__main{
        display: flex;
        align-items: center;
        gap: 18px;
    }
    
    .epg-item__thumbnail{
        width: 100%;
        max-width: 200px;
    }

    .epg-item__data{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        div {
            margin-bottom: 8px;
        }
    }

    .epg-item__grid{
        width:100%;
        border: 2px solid $white;
        border-radius: 4px;
        padding: 8px;
        margin-top: 12px;
        background-color: $grey-100;
    }

    .epg-item__meta{
        margin-top: 12px;
    }

}
.epg-item--error {
    border: 3px solid $error; 
    border-radius: 4px;
}