@import '../../constants';


.epg-item{ 
    img {
        width: 100%;
        height: auto;

        &.error-image {
            border: 4px solid $error;
            border-radius: 4px;
        }
    }
    
    padding: 8px;
    height: 280px;
    overflow: scroll;

    .epg-item__main{
        display: flex;
        align-items: center;
        gap: 18px;
    }
    
    .epg-item__thumbnail{
        position:relative;
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .arrow {
            cursor: pointer;
            position: absolute;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;

            &.previous {
                left: 0;
            }
            &.next {
                transform: rotate(180deg);
                right: 0;
            }
        }
    }

    .epg-item__data{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        div {
            margin-bottom: 8px;
        }
    }

    .epg-item__grid{
        width:100%;
        border: 2px solid $white;
        border-radius: 4px;
        padding: 8px;
        margin-top: 12px;
        background-color: $grey-100;
    }

    .epg-item__meta{
        margin-top: 12px;
    }

}
.epg-item--error {
    border: 3px solid $error; 
    border-radius: 4px;
}