$background-primary: #242424;
$blue-primary: #2D64BE;
$blue-secondary: #C0D0EB;
$white: #D3D1D1;
$error: #BE3144;
$grey-25: #1F1F1F;
$grey-50: #2E2E2E;
$grey-100: #4C4C4C;
$grey-200: #595959;
$grey-300: #C4C4C4;